@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles */
 
/* headers styles */


/* navbar related styles */
/* Navbar */
.navbar{
  width: 100%;
  
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  background:#412567;
 margin: 0 auto;
}
body {
  overflow-x: hidden; 
}
.nav-inner {
  max-width: 1600px;
  margin: 0 auto;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 clamp(16px,10vw,200px);
}
/* Logo */

.logo {
  font-size: 1rem;
  color: white;
   width: 180px;       
  display: flex;
  justify-content: flex-start;
  margin: 0;
   
}
  
 

 .logo span{
  background: linear-gradient(90deg, #F7E93F, #FB09B4,#9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  
 }
/* Menu */
.nav-links {
  list-style: none;
  display: flex;
  margin: 16px 24px;
  gap: 32px;
  font-weight: 500;
}
.nav-links a {
  text-decoration: none;
  color:#FFFFFF ;
  font-size: 1rem;
}
.nav-links a:hover {

}
/* Button */
.nav-btn button {
  width: 135px;
  height: 44px;
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  border: none;
  padding: 0;
  border-radius: 10000px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin: 0;
  box-sizing: border-box;
}

.nav-btn button:hover {
  opacity: 0.9;
}
.hamburger {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}
.mobile-menu {
    position: absolute;
    top: 64px;
    left: 0;
    z-index: 999;
  display: none;
  flex-direction: column;
  background: #412567;
  width: 100%;
  padding: 16px;
}


@media screen and (max-width:576px) {
  .nav-links,
  .nav-btn {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .nav-inner {
    height: 64px;
  }
}
