@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles */
 
/* headers styles */


/* navbar related styles */
/* Navbar */
.navbar {
  width: 1600px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 200px;
  background:#412567;
}

/* Logo */
.logo img {
  width: 219px;
  height: 32px;
  cursor: pointer;
}
/* Menu */
.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;
}
.nav-links a {
  text-decoration: none;
  color:#FFFFFF ;
  font-size: 16px;
}
.nav-links a:hover {

}
/* Button */
.nav-btn button {
  width: 135px;
  height: 44px;
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  border: none;
  padding: 12px 16px;
  border-radius: 10000px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.nav-btn button:hover {
  opacity: 0.9;
}