@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles */
 
/* headers styles */


/* navbar related styles */
/* Navbar */
.navbar{
  width: 100%;
  
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  background:#412567;
 margin: 0 auto;
}
body {
  overflow-x: hidden; 
}
.nav-inner {
  max-width: 1600px;
  margin: 0 auto;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 clamp(16px,10vw,200px);
}
/* Logo */

.logo {
  font-size: 1rem;
  color: white;
   width: 180px;       
  display: flex;
  justify-content: flex-start;
  margin: 0;
   
}
  
 

 .logo span{
  background: linear-gradient(90deg, #F7E93F, #FB09B4,#9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  
 }
/* Menu */
.nav-links {
  list-style: none;
  display: flex;
  margin: 16px 24px;
  gap: 32px;
  font-weight: 500;
}
.nav-links a {
  text-decoration: none;
  color:#FFFFFF ;
  font-size: 1rem;
}
.nav-links a:hover {

}
/* Button */
.nav-btn button {
  width: 135px;
  height: 44px;
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  border: none;
  padding: 0;
  border-radius: 10000px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin: 0;
  box-sizing: border-box;
}

.nav-btn button:hover {
  opacity: 0.9;
}
.hamburger {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}
.mobile-menu {
    position: absolute;
    top: 64px;
    left: 0;
    z-index: 999;
  display: none;
  flex-direction: column;
  background: #412567;
  width: 100%;
  padding: 16px;
}
/* banner */
.hero {
  min-height: 100vh;
  background: url("assets/hero-bg.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 20px;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
 
}


.mic-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 32px;
  
}



.circle {
   width: 350px;
  height: 350px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.mic {
  width: 30%;
  max-width: 120px;
  min-width: 50px;
  position: absolute;
}
.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #3cff9e;
  color: black;
  font-size: 0.75rem
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 20px;
  animation: pulse 1.5s infinite;
}
.hero h1 {
  font-size: 3rem;
  margin-bottom: 8px;
}

.hero p {
  font-size: 1rem;
  opacity: 0.85;
  max-width: 500px;
  margin: 0 auto 24px;
}
.buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  border: none;
  padding: 12px 20px;
  border-radius: 999px;
  font-size: 0.9rem;
  cursor: pointer;
}

.spotify {
  background: linear-gradient(90deg,#ffcc33,#ff00cc);
  color: white;
}

.subscribe {
  background: transparent;
  color: #3cff9e;
  border: 1px solid #3cff9e;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(60,255,158,0.7);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 12px rgba(60,255,158,0);
  }
  100% {
    transform: scale(1);
  }
}




@media screen and (max-width:576px) {
  .nav-links,
  .nav-btn {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .nav-inner {
    height: 64px;
  }
  .hero {
    min-height: 100svh;
    padding: 16px;
  }

  .circle {
    width: 160px;
    height: 160px;
  }

  .mic {
    width: 60px;
  }

  .badge {
     font-size: 0.6rem;
    padding: 3px 8px;
    top: 6px;
    right: 6px;
  }

  .hero h1 {
    font-size: 2.2rem;

}
